/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
    font-size: 2em;
    font-family: 'Bree Serif';
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#testoAlternato {
    text-align: left;
    padding: 2em 6em;
    border: 1px solid #000;
    position: relative;
}

.parole{ 
    position: relative;
}

i {
    width: 300px;
    position: absolute;
    top: 5px;
    left: 6px;
    color: #6a889c;
    opacity: 0;
}

.parole i:first-child {
    animation: parolaHide 9s linear infinite backwards;
}
.parole i:nth-child(2){
    animation: parolaHide 9s linear 3s infinite backwards
}
.parole i:nth-child(3){
    animation: parolaHide 9s linear 6s infinite backwards;
}

@keyframes parolaHide{
    0%{
        transform: translateY(-30px);
        opacity: 0;
    }
    10%{
        opacity: 1;
        transform: translateY(0px);
    }
    20%{
        opacity: 1;
        transform: translateY(0px);
    }
    34%{
        opacity: 0 ;
        transform: translateY(30px);
    }
    100%{
        opacity: 0 ;
        transform: translateY(20px);
    }
}






