
body {
    background-color: yellow;
    background-image: url("pattern.png");
    background-position: center top;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container div {
    border: 1px solid black;
}

.box1 {
    background-color: yellowgreen;
    width: 500px;
    height: 200px;
    overflow: auto;
    overflow-wrap: break-word;
    margin: 50px 50px;
    padding: 20px 20px;
}

.box2 {
    box-shadow: 10px 10px 10px grey; /* orizzontale verticale raggiodisfumatura e colore */
    width: 900px;
    background-color: aqua;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box; /* cresce in base al suo contenuto */
}

.box3 {
    width: 900px;
    background-color: violet;
    margin: 50px;
    padding: 20px;
    border: 3px solid yellow;
    outline:  blue solid 5px;
    border-radius: 10px;
    box-sizing: content-box; /* cresce in base al suo contenuto */

}

.box4 { /* 500+50+20+1+=571px totale */
    background-color: yellow;
    width: 900px;
    height: 100px;
    margin: 50px;
    padding: 20px;
    border: 5px solid;
    border-color: red;
    overflow: auto;
}